<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srs.elearningtnd">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/materialWhiteBar" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="fullSensor"
            android:theme="@style/materialWhiteBar" />
        <activity
            android:name=".ModulDigital"
            android:screenOrientation="fullSensor"
            android:theme="@style/materialWhiteBar" />
        <activity
            android:name=".TentangKami"
            android:screenOrientation="fullSensor"
            android:theme="@style/materialWhiteBar" />
        <activity
            android:name=".ListVideo"
            android:screenOrientation="portrait"
            android:theme="@style/materialWhiteBar"/>
        <activity
            android:name=".Utilities.Loading"
            android:theme="@style/materialWhiteBar" />
        <activity
            android:name=".VideoYT"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen"/>
    </application>

</manifest>